html{
    height: 100%;
    width: 100%
}
 
    #banner { 
        position: absolute; 
        top: 0; 
        left: 0; 
        background-color: black; 
        width: 100%; 
        height: 5%;
    }

    #banner-content {
        display: grid; 
        width: 100%; 
        height: 100%;
        margin: 0 auto; 
        padding: 0px; 
        border: 1px white;
        text-align: center;
        color: white;
    }
    #main-content { 
        padding-top: 5%;
    }

    .BannerButton{
        color: white;
        background-color: grey;
        border: white;
        width: 5%;
        height: 100%;
        cursor: pointer;
        border-width: 2px;
    }
